header {
    background-color:aqua;
    color: #fff;
    padding: 20px;
    color: black;
    text-align:left;

}
nav{
    background-color: black;
    color: #fff;
    font-weight: bolder;

}
.color{
    background-color: black;
    color: #fff;
}
.title-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
   
}