body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aqua;
}

header {
    background-color:aqua;
    color: #fff;
    padding: 20px;
    text-emphasis-color: black;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: aqua;
    text-decoration: none;
}

main {
    padding: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    color: #fff;
}

.product {
    flex: 0 0 30%;
    padding: 10px;
}

.product img {
    width: 100%;
}

.product h3 {
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.color{
    color: black;
    text-align: justify;
    background-color: aqua;
}

li {
margin-bottom: 10px;
}
.header{
background-color: aqua;
color: black;

}
.laptops{
display: flex;
flex-wrap: wrap;
background-color: #333;
color: #fff;
}
.laptop {
flex: 0 0 30%;
padding: 10px;
}

.laptop img {
width: 100%;
}

.laptop h3 {
margin-top: 10px;
}

footer {
background-color: #333;
color: #fff;
padding: 10px;
text-align: center;
}
.color{
color: black;
text-align: justify;
background-color: aqua;
}
.ul{
color: black;
}
.color{
background-color: aqua;
color: black;
}
