ul {
    list-style-type: disc;
}
body{
    background-color: aqua;
    color: #333;
}

li {
    margin-bottom: 10px;
}
.header{
    background-color: aqua;
    color: black;

}
.laptops{
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    color: #fff;
}
.laptop {
    flex: 0 0 30%;
    padding: 10px;
}

.laptop img {
    width: 100%;
}

.laptop h3 {
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.color{
    color: black;
    text-align: justify;
    background-color: aqua;
}
.ul{
    color: black;
.color{
    background-color: aqua;
    color: black;
}